{% extends "base.html" %}

{% block title %}Add Material{% endblock %}

{% block content %}

<div class="page-header">
    <div>
        <h1>Add Material</h1>
        <p>
            {{ course.name }} → {{ topic.name }}
        </p>
    </div>
</div>

<div class="form-card">
    <form method="POST" enctype="multipart/form-data">

        <div class="form-group">
            <label for="name">Material name</label>
            <input
                type="text"
                id="name"
                name="name"
                required
            >
        </div>

        <div class="form-group">
            <label for="file">File</label>
            <input
                type="file"
                id="file"
                name="file"
                required
            >
        </div>

        <div class="form-actions">
            <button
                type="submit"
                class="button button-primary"
            >
                Add Material
            </button>

            <a
                href="{{ url_for(
                    'topic_materials',
                    course_id=course.id,
                    topic_id=topic.id
                ) }}"
                class="button button-secondary"
            >
                ← Back to Materials
            </a>
        </div>

    </form>
</div>
</form>


</div>
{% endblock %}
